<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>index</title>
</head>
<body class="home">
  <table>
    <h3>Home Team</h3>
      <% for (let i = 0; i < soccer.length; i++) {%> 
      <tr>
          <td><button><a class="editButton" href="/<%=soccer[i].id; %>/edit">Edit</a></button></td>
          <td><a href="/<%= soccer[i].id%> "><%=soccer[i].name %> </a></td>
          <td>
            <form action="/<%= soccer[i].id %>?_method=DELETE" method="POST">
              <input class="deleteButton" type="submit" value="Delete"> 
           </form>
          </td>
      </tr> 
    <% } %>
  </table>
  <button><a href="/new">Add new player</a></button>
</body>
</html>