<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/skeleton.css">
    <title>index</title>
</head>
<body>
  <h1>hello world but bigger</h1>
  <table>
      <tr>
          <td>Name</td>
          <td>Height</td>
          <td>Weight</td>
          <td>Foot</td>
          <td>Position</td>
          <td>Number</td>
          <td>Nationality</td>
          <td>Previous Club</td>
      </tr>
      <% for (let i = 0; i < soccer.length; i++) {%> 
      <tr>
          <td><td><a href="/<%=soccer[i].id; %>/edit">Edit</a></td>
          <td></td>
          <td><a href="/<%= soccer[i].id%> "><%=soccer[i].name %> </a></td>
          <td><form action="/<%= soccer[i].id %>?_method=DELETE" method=="POST">
          <input type="submit" value="DELETE"></form>
          </td>
      </tr> 
    <% } %>
  </table>
  <a class="button" href="/new">Add new player</a>
</body>
</html>