<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>New</title>
</head>
<body class="createEdit">
    <h1 class="subInfo">Create New Player</h1>
        <div class = "container">
            <form action="/" method = "POST">
                <div class="form" class="createEdit">
                    <input type="text" placeholder="Name" name="name"><br>
                    <input type="text" placeholder="Height" name="height"><br>
                    <input type="text" placeholder="Weight" name="weight"><br>
                    <input type="text" placeholder="Dominant Foot" name="foot"><br>
                    <input type="text" placeholder="Nationality" name="nationality"><br>
                    <input type="text" placeholder="Previous Club" name="club"><br>
                    <input type="text" placeholder="Position" name="position"><br>
                    <input type="text" placeholder="Number" name="number"><br>
                    <input type="submit" value="Create Player"/>
                </div>


            </form>
        </div>
    </div>
</body>
</html>