<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New</title>
</head>
<body>
    <div class = "container">
        <h1>Add New Tasks</h1>
        <form action="/soccer" method = "POST"></form>
        <input type="text" placeholder="Name" name="name">
        <input type="text" placeholder="Height" name="height">
        <input type="text" placeholder="Weight" name="weight">
        <input type="text" placeholder="Dominant Foot" name="foot">
        <input type="text" placeholder="Nationality" name="nationality">
        <input type="text" placeholder="Previous Club" name="club">
        <input type="text" placeholder="Position" name="position">
        <input type="text" placeholder="Number" name="number">
        


            <input type="submit" value="Create Player"/>
        </form>
    </div>
</body>
</html>