<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
</head>
<body>
    <div>
        <h1>Player stats</h1>
        <h2>Soccer.name</h2>
        <h3>Player Height</h3>
        <h4>Soccer.height</h4>
        <h3>Player Weight</h3>
        <h4>Soccer.weight</h4>
        <h3>Player's Dominant Foot</h3>
        <h4>Soccer.foot</h4>
        <h3>Players Nationality</h3>
        <h4>soccer.nationality</h4>
        <h3>Players Old Club</h3>
        <h4>Soccer.oldClub</h4>
        <h3>Player's Number</h3>
        <h4>Soccer.number</h4>
        <a class = "button" href="/">Back to line-up</a>
    </div>
</body>
</html>