.createEdit {
    background-image: url(https://i.pinimg.com/originals/0e/15/57/0e1557012a999fac17282a6267349fc2.jpg);
    background-size: 100%;
    z-index: -1;
}
.form {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    column-gap: 2em;
}
input {
    font-size: large;
}
.subInfo {
    color: white;
    text-align: center;
}
.button {
    color: black;
    text-decoration: none;
}
.details {
    background-image: url(https://www.stirlingsoccer.ca/assets/img/Vector_20180612_018-banner.jpg);
    background-size:125%;
    color: white;
}
.homeTeam {
    position: fixed;
    top: 3em;
    left: 16.7em;
    text-decoration: underline;
}
.awayTeam {
    position: fixed;
    top: 3em;
    right: 16em;
    color: black;
    text-decoration: underline;
}
.h3 {
    text-decoration: underline;
}
.name {
    text-decoration: underline;
}
.player {
    text-decoration: none;
    color: black;
}
.home {
    background-image: url(https://i.stack.imgur.com/CjJCu.png);
    background-size: 89em 49.85em;
}
.editButton {
    text-decoration: none;
    font-size: 1.05em;
    color: black;
}
.deleteButton {
    font-size: .9em;
}
table {
    position: fixed;
    top: 13em;
    left: 23.5em;
    text-align: center;
}
.players {
    color: black;
    text-decoration: none;
}
.create {
    position: fixed;
    top: 2em;
    left: 2em;
}
ul {
    color: black;
    position: fixed;
    top: 12em;
    right: 21em;
    list-style: none;
}
li {
    padding: .3em;
}