.createEdit {
    background-image: url(https://i.pinimg.com/originals/0e/15/57/0e1557012a999fac17282a6267349fc2.jpg);
    background-size: 100%;
    z-index: -1;

    
}
.form {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    column-gap: 2em;
}
input {
    font-size: large;
}
.subInfo {
    color: white;
    text-align: center;
}
.button {
    color: white;
    font-size: large;
    display: flex;
    justify-content: center;
    text-decoration: none;
    background-color: aliceblue;
    border-radius: 75%;
}