.createEdit {
    background-image: url(https://i.pinimg.com/originals/0e/15/57/0e1557012a999fac17282a6267349fc2.jpg);
    background-size: 100%;
    z-index: -1;

    
}
.form {
    z-index: 1;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}